[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apsw = "*"
importlib-metadata = "*"
pyahocorasick = "*"

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3"
