[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apsw = "*"
importlib-metadata = "*"
pyahocorasick = "*"

[dev-packages]
black = "*"
pylint = "*"
sphinx = "*"
sphinx-argparse = "*"
build = "*"
rdbunit = "*"
twine = "*"

[requires]
python_version = "3"
