[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybliometrics = "*"
apsw = "*"
importlib-metadata = "*"
pyahocorasick = "*"
openai = "*"
levenshtein = "*"

[dev-packages]
black = "*"
build = "*"
hatch = "*"
pylint = "*"
pytest = "*"
rdbunit = "*"
sphinx = "*"
sphinx-argparse = "*"
toml = "*"
twine = "*"

[examples-packages]
cliffs_delta = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
pandas = "*"
scipy = "*"

[requires]
python_version = "3"
